.tb-main {
    border: 1px solid;
    height: 185vh;
    width: 100%;
    background-image: url('./assets/last_pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    object-fit: cover;
}


.tb-main>h1 {
    text-align: center;
    font-size: 5rem;
    margin: 4.5% 0%;
    color: white;
}

.tb {
    /* border:2px solid green; */
    width: 69.8%;
    margin-left: 8%;
    margin-top: 3%;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 15% repeat(3, 35%);
    grid-template-rows: 17% repeat(3, 36%);
}

.tb>.one {
    background-color: aqua;
    border: 1px solid black
}

.tb>.one-1 {
    border-radius: 25px 0px 0px 0px;
    border: 1px solid black;
    background-color: orangered;
    padding: 25%;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: 900;
}

.tb>.one-2,
.one-3 {
    border: 1px solid black;
    background-color: orangered;
    padding: 15%;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: 900;
}

.tb>.one-4 {
    border-radius: 0px 25px 0px 0px;
    border: 1px solid black;
    background-color: orangered;
    padding: 15%;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: 900;
}

.tb>.one-5,
.one-9 {
    border: 1px solid white;
    background-color: black;
    padding: 22%;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: 900;
}

.tb>.one-13 {
    border: 1px solid white;
    background-color: black;
    border-radius: 0px 0px 0px 25px;
    padding: 22%;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: 900;
}

.tb>.one-6 {
    border: 1px solid white;
    text-align: center;
    font-size: 3.5rem;
    color: white;
    padding: 22% 0% 0% 0%;
    background-image: url('./assets/c1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    object-fit: cover;
}

.tb>.one-8 {
    border: 1px solid white;
    text-align: center;
    font-size: 3.5rem;
    color: white;
    padding: 22% 0% 0% 0%;
    background-image: url('./assets/c3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    object-fit: cover;
}

.tb>.one-11 {
    border: 1px solid white;
    text-align: center;
    font-size: 3.5rem;
    color: white;
    padding: 22% 0% 0% 0%;
    background-color: black;
}

.tb>.one-14 {
    border: 1px solid white;
    text-align: center;
    font-size: 3.5rem;
    color: white;
    padding: 22% 0% 0% 0%;
    background-image: url('./assets/c2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    object-fit: cover;
}

.tb>.one-16 {
    border: 1px solid white;
    text-align: center;
    font-size: 3.5rem;
    color: white;
    padding: 22% 0% 0% 0%;
    border-radius: 0px 0px 25px 0px;
}

.tb>.one-7,
.one-10,
.one-12,
.one-15 {
    border: 1px solid white;
    background-color: rgb(111, 235, 237);
    padding: 15%;
    text-align: center;
    color: white;
    font-weight: 900;
}

.tb>.one-12,
.one-15 {
    border: 1px solid white;
    background-color: rgb(237, 170, 111);
    text-align: center;
    color: white;
    font-weight: 900;
}

@media(max-width:480px){
    .tb-main{
        height: 180vh;
    }
    .tb-main>h1{
        margin-top: 10%;
    }
    .tb{
        margin-left:3%;
        margin-top: 10%;
        width: 50%;
        display: grid;
        grid-template-columns: 30% repeat(3, 53%);
        grid-template-rows: 7rem repeat(3, 16rem);
    }
}

@media(min-width:481px) and (max-width:800px) {
    .tb-main{
        height: 190vh;
    }
    .tb-main>h1{
        margin-top: 8%;
    }
    .tb{
        margin-left:3%;
        margin-top: 8%;
        width: 50%;
        display: grid;
        grid-template-columns: 30% repeat(3, 53%);
        grid-template-rows: 7rem repeat(3, 16rem);
    }
}

@media (min-width:801px) and (max-width:1024px) {


}