.fest-live {
    margin-top: 3%;
    background-color: orangered;
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.fest-live h2 {
    font-weight: 900;
    font-size: 3rem;
}

.icons {
    font-size: 4rem;
}

@media(max-width:480px) {
.fest-live{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 6%;
}
}

@media(min-width:481px) and (max-width:800px) {
    .fest-live{
        display: flex;
        flex-direction: column;
        height: 25vh;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 6%;
     
}
}

@media (min-width:801px) and (max-width:1024px) {


}