header {
    border: 2px solid orange;
    padding: 1%;
    font-size: 2rem;
    font-weight: bolder;
    background-color: orange;
}
header>i {
    font-size: 100%;
    margin: 0% 1%;
    color: red;
}

@media(max-width:480px){
   html{
    font-size: 55%;
    margin: 1%;
   }
      header{
        height: 7vh;
        font-size: 1.8rem;
        width: 100%;
        padding-top: 2%;
      }
}

@media (min-width:481px) and (max-width:800px) {
  html{
    font-size: 58.5%;
  }
  }

  @media (min-width:801px) and (max-width:1024px) {
   html{
    font-size: 60%;
   }

  }